main {
    padding: 20px;
}

h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: grey;
    padding: 5px 0;
}

image {
    color: purple;
}

#forecast {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#forecast h3 {
    width: 100%;
}

.day {
    width: 18%;
}

#weather-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#weather-info div {
    width: 40%;
    font-size: 1.5rem;
}

#weather-icon {
    width:30%;
    height: auto;
}

.forecast-icon {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.day {
    text-align: center;
}

.uv-favorable {
    color: white;
    background-color: green;
}

.uv-moderate {
    color: white;
    background-color: orange;
}

.uv-severe {
    color: white;
    border-color: red;
}

#color-change {
    padding: 0 10px;
    border-radius: 5px;
}

#searched-cities {
    text-align: center;
}

.previous-city {
    border: 2px solid black;
    width: 80%;
    text-align: center;
    margin: 5px 0;
}